{% extends 'layout.html' %}



{% block body %}

    <div class="jumbotron">

        <h4>A web application to store skills while seeking full stack development knowledge.</h4>

<!--        <p class="lead">goal: to demonstrate my programming skills<br>

        features: login/register | add/edit articles | importing .csv | view data w/php | version control | unit testing (jenkins or Travis CI) | Django/json/node.js <p>

        used: linux | python | mysql | pycharm | php | phpmyadmin | git | bootstrap<br>-->

        by Doug MacGregor</p>

        {% if session.logged_in == NULL %}

<!--      <a href="/register" class="btn btn-primary btn-md">Register</a>

          <a href="/login" class="btn btn-success btn-md">Login</a> -->

	  <a href="https://github.com/SEDoug" target="_blank" class="btn btn-success btn-md">GitHub</a>

          <hr>

        {% endif %}





  <div class="row">

  <div class="col-lg-4">

    <h5><u>Front-end focused:</u></h5>

    <li><a href="/login">login application - python</a></li>

    <li><a href="/register">register application - python</a></li>

    <li><a href="/articles">articles application - must be logged in - python</a></li>

<!--    <li><a href="http://127.0.0.1/booksapp/books1.php" target="_blank">importing .csv into mysql; search function</a></li>-->

<p>

<!--    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->

    <h5><u>Back-end focused:</u></h5>

<!--<li><a href="/login">login page</a></li>

    <li><a href="/register">register page</a></li>

    <li><a href="/articles">add/edit articles page - must be logged in</a></li> -->

    <li><a href="http://127.0.0.1/booksapp/books1.php" target="_blank">importing .csv into mySQL database</a></li>

<!--<li>unit testing (jenkins or Travis CI) </li>

    <li>Django/json/node.js</li>

    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->

  </div>

  <div class="col-lg-4">

	<h5><u>Front-end web application frameworks:</u></h5>
	<li>Bootstrap</li>
<!--	<li>Atom, Sublime, Dreamweaver</li>-->
	<li><a href="http://flask.pocoo.org/" target="_blank">Flask</a> - flask.pocoo.org</li>
	<h5><u>Programming Languages:</u></h5>
	<li>Python, JavaScript</li>
   <!-- <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>-->
  </div>

 <div class="col-lg-4">

   <h5><u>Simple Python:</u></h5>

   <li>#1 write code on paper</li>

   <li>#2 how to use control flow</li>

   <li>#3 control flow for/while loops, if/else/elif</li>

   <li>#4 how have I used python (ie. my projects)</li>

   <li>#5 python data types: strings, lists, tuples, dict, set</li>

   <li>#6 how to use list comprehensions</li>

   <li>#7 how to use generators</li>

   <li>#8 basics of oop (object oriented programming)</li>

   <li>#9 have some python related questions</li>

   <li>#10 basics of other tech: git, linux, sql, html, php, css</li>

<!--    <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p> -->

  </div>

  </div>



</div>



{% endblock %}


